<br>
<br>
<br>
<br>
<br>
<br>

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container">

        <div class="panel panel-success" *ngIf="isTrue">
            <div class="panel-heading">Your login was successful</div>
            <div class="panel-body"><button type="button" class="btn btn-success btn-lg" (click)="toHome()">click here
                    to go home</button></div>
        </div>


        <div class="panel panel-danger" *ngIf="!isTrue">
            <div class="panel-heading">Your login failed</div>
            <div class="panel-body"><button type="button" class="btn btn-danger btn-lg" (click)="toLogin()">click
                    here to try again</button></div>
        </div>


    </div>