.panel-success{
    margin-left: 25%;
    margin-right: 25%;

}

.panel-heading{
    text-align: center;
}
.panel-body{
    text-align: center;
}

.panel-headingx{
    text-align: center;
}
.panel-bodyx{
    text-align: center;
}

.panel-danger{
    margin-left: 25%;
    margin-right: 25%;

}